<app-nav></app-nav>
<div class="example-container">
    <div class="input_text">
        <input matInput type="text" [(ngModel)]= 'InstaUser' name="InstaUser" id="">
    </div>
    <div class="input_text1">
        <button mat-raised-button color ="primary" (click)='show()' >Click Here</button>
    </div>
</div>
<div class="cards" *ngIf="books">
   <div class="card">
    <mat-card >
        <img  mat-card-lg-image src="{{books.Poster}}"> 
        <mat-card-title>{{books.Title}}</mat-card-title>
        <mat-card-subtitle>Starring: {{books.Actors}}</mat-card-subtitle>
        <mat-card-content>{{books.Plot}}</mat-card-content>
    </mat-card>
   </div>
</div>


